# Working with Strings and Lists, List Comprehension, Tuples

## Tasks Today:


1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) lstrip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) rstrip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) title() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) upper() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) lower() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) capitalize() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Exercise <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Exercise <br>
3) List Comprehensions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Square numbers <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Filters <br>
4) Ternary Operators <br>
5) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) vs lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) index, iterate, slice <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sorting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) adding values to tuples <br>

### String Manipulation

##### .lstrip()

In [ ]:
#return a copy of the string with the whitespace removed

In [8]:
# string.lstrip()
name = "             Elise      "
print(name.lstrip())

Elise

In [18]:
a_string = "...........hi how are you....."
print(a_string)
print(a_string.lstrip('.'))

...........hi how are you.....
hi how are you.....

##### .rstrip()

In [19]:
# string.rstrip()
a_string = "...........hi how are you....."
print(a_string)
print(a_string.rstrip('.'))

...........hi how are you.....
...........hi how are you

##### .strip()

In [20]:
# string.strip()
a_string = "...........hi how are you....."
print(a_string)
print(a_string.strip('.'))

...........hi how are you.....
hi how are you

In [22]:
sentence_string= "  ....Hello name is Elise.      "
#"Hello my name is Elise"

print(sentence_string.lstrip(". ").rstrip())

Hello name is Elise.

Harry Potter And The Goblet Of Fire

##### .title()

In [24]:
# string.title()
book = "hArrY PottER and the Goblet of FiRe"
print(book.title())

Harry Potter And The Goblet Of Fire

##### .upper()

In [26]:
##### .title()# .upper()
book = "you're A Wizard HARrY!"
print(book.upper())

YOU'RE A WIZARD HARRY!

##### .lower()

In [27]:
# .lower()
book = "you're A Wizard HARrY!"
print(book.lower())

you're a wizard harry!

##### .capitalize()

In [29]:
# .capitalize
book = "you're A Wizard HARrY!"
print(book.capitalize())

You're a wizard harry!

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [2]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Output: ['Connor', 'Max', 'Evan', 'Jordan']
names2 = []
for name in names:
    names2.append(name.strip().title())

print(names2)

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [3]:
# min(list) min does not work on different (mixed) data types
numbers = [33,10,22,44,36,1,8,4,6]

min(numbers)

1

In [6]:
ord('@')

64

##### max()

In [4]:
# max(list)
numbers = [33,10,22,44,36,1,8,4,6]

max(numbers)

44

##### sum()

In [7]:
# sum(list)
numbers = [33,10,22,44,36,1,8,4,6]

sum(numbers)

164

##### sorted()

In [9]:
# sorted(list)
print(numbers)
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[33, 10, 22, 44, 36, 1, 8, 4, 6]
[1, 4, 6, 8, 10, 22, 33, 36, 44]

In [10]:
#reversed list
print(numbers)
sorted_numbers = sorted(numbers, reverse=True)
print(sorted_numbers)

[33, 10, 22, 44, 36, 1, 8, 4, 6]
[44, 36, 33, 22, 10, 8, 6, 4, 1]

In [13]:
print(names)
print(sorted(names))

['    coNNor', 'max', ' EVan ', 'JORDAN']
['    coNNor', ' EVan ', 'JORDAN', 'max']

In [14]:
print(sorted('Hello World'))

[' ', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [16]:
#a method is a function, but is specific to a class

some_list = [1,253,4,62,67,89,131,343]


sorted_list = sorted(some_list)
print(some_list)
print(sorted_list)

[1, 253, 4, 62, 67, 89, 131, 343]
[1, 4, 62, 67, 89, 131, 253, 343]

In [17]:
# list.sort()

some_list = [1,253,4,62,67,89,131,343]


print('Before',some_list)
some_list.sort(reverse=True)
print('After',some_list)

Before [1, 253, 4, 62, 67, 89, 131, 343]
After [343, 253, 131, 89, 67, 62, 4, 1]

In [ ]:


# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

##### Copying a List

In [18]:
# [:] copies a list, doesn't alter original
list_a = ['a','b','c']
list_b = list_a
list_c = list_a[:]

print(list_a)
print(list_b)
print(list_c)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

In [19]:
id(list_a)

140243757946944

In [20]:
list_a == list_c

True

In [21]:
list_a is list_c

False

##### 'in' keyword

In [23]:
instructors = ['Brian', 'Tatayana','Ryan', 'Shoha', 'Kevin']

'Brian' in instructors

True

In [24]:
list_iter = instructors._iter_()
print(list_iter)
next(list_iter)

AttributeError: 'list' object has no attribute '_iter_'

In [ ]:
instructors = ['Brian', 'Tatayana','Ryan', 'Shoha', 'Kevin']

'B' in instructors

In [1]:
my_string = 'Hello this is my string'

'i' in my_string

True

##### 'not in' keyword

In [27]:
instructors = ['Brian', 'Tatayana','Ryan', 'Shoha', 'Kevin']

'Brian' not in instructors

False

In [29]:
my_string = 'Hello this is my string'

'taty' not in my_string

True

##### Checking an Empty List

In [31]:
# if l_1 == []:

my_list = []

if my_list == []:
    print("This list is empty")

This list is empty

In [36]:
test_list = [1]
if test_list:
    print("The list is evaluated to true, therefore it must not be empty")
else:
    print("The list evaluated to false, therefore it must be empty")

The list is evaluated to true, therefore it must not be empty

In [37]:
bool(test_list)

True

##### Removing Instances with a Loop

In [38]:
# while, remove

names = ['conner', 'conner', 'bob', 'connor', 'kevin', 'max','bob', 'dave']

for name in names:
    name == 'conner':
        names.remove('conner')

print(names)

SyntaxError: cannot assign to literal (320117158.py, line 5)

In [42]:
names = ['conner', 'conner', 'bob', 'conner', 'kevin', 'max','bob', 'dave']

while 'conner' in names:
        names.remove('conner')

print(names)

['bob', 'kevin', 'max', 'bob', 'dave']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [2]:
names = ['conner', 'conner', 'bob', 'conner', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_list = []

for name in names:
    if name not in new_list:
        new_list.append(name)
    
print(new_list)

# Output: ['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['conner', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

In [3]:
# number comprehension

# With a regular for loop

nums = []
for num in range(1,101):
    nums.append(num)
print(nums)

nums_comp = [num for num in range(1,101)]
print(nums_comp)

# *result*  = [*transform*    *iteration*         *filter*     ]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [5]:
# square number comprehension

squares_loop = []

for x in range(1,11):
    squares_loop.append(x**2)
print(squares_loop)

squares_comp = [x**2 for x in range(1,11)]
print(squares_comp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# string comprehension
cities = ['Chicago', 'Tokyo', 'Vancouver', 'Seattle']

first_letters = [city[0] for city in cities]

print(first_letters)

['C', 'T', 'V', 'S']

In [9]:
# Adding filters

cities_starting_with_c = []

for city in cities:
    if city[0].lower() == 'c':
        cities_starting_with_c.append(city)

print(cities_starting_with_c)

['Chicago']

In [7]:
# Using an 'if' in list comprehension ... filter comes after the for
c_cities_comp = [city for city in cities if city[0].lower() == 'c']
print(c_cities_comp)

['Chicago']

#### Python Ternary Operator

In [12]:
# value_if_true if condition else value_if_false

#if x > y:
    #a = b
    
#else:
    #a = c

if 10 > 100:
    name1 = 'Brian'
else:
    name1 = 'Stanton'

name2 = 'Brian' if 10 > 100 else 'Stanton'

print(name1)
print(name2)

Stanton
Stanton

In [13]:
some_nums = [2,5,3,66,234,456,129,60,34,5656]

odd_or_even = []

for num in some_nums:
    if num % 2 == 0:
        odd_or_even.append('even')
    else:
        odd_or_even.append('odd')

print(odd_or_even)

['even', 'odd', 'odd', 'even', 'even', 'even', 'odd', 'even', 'even', 'even']

In [15]:
even_or_odd = ['even' if num % 2 == 0 else 'odd' for num in some_nums if num > 100]
print(even_or_odd)

['even', 'even', 'odd', 'even']

In [25]:
#multiple ternary

x = 10
y = 10

if x > y:
    some_test = 'a'
elif x == y:
    some_test = 'b'
else:
    some_test = 'c'
    
print(some_test)

some_test = 'a' if x > y else 'b' if x == y else 'c'


print(some_test)

b
b

In [27]:
some_ternary_test = 'a' if x > y else 'b' if x == y else 'c'
print(some_ternary_test)

b

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [23]:
my_list = [1,2,3,4]
my_list.append(5)
print(my_list)

my_list[0] = 100

print(my_list)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [34]:
# Syntax 1: var_tuple = (,)
# Syntax 2: var_tuple = , ...,...

tup1 = (1,2,5,4)

print(tup1)
print(type(tup1))

tup2 = 1,2,3,4

print(tup2)
print(type(tup2))

(1, 2, 5, 4)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [28]:
tup3 = (10,)
print(tup3)
print(type(tup3))

(10,)
<class 'tuple'>

In [35]:
# Tuples are indexable
print(tup1[0])


# Tuple can be sliced
print(tup1[1:3])


# Tuples are iterable
for element in tup1:
    print(element)

1
(2, 5)
1
2
5
4

In [32]:
tup1.append(5) #tups cannot be changed or added to!

AttributeError: 'tuple' object has no attribute 'append'

##### sorted()

In [37]:
tup_new = (23,24,45,56,767)
print(tup_new)

sorted_tup = sorted(tup_new)
print(sorted_tup)
print(type(sorted_tup))

(23, 24, 45, 56, 767)
[23, 24, 45, 56, 767]
<class 'list'>

##### Adding values to a Tuple

In [38]:
tup_one = (4,5,7,7)
tup_two = (5,8,3,6)

tup_three = tup_one + tup_two
print(tup_three)

(4, 5, 7, 7, 5, 8, 3, 6)

In [39]:
tup_string = ('A', 'B', 'C')

tup_func = (len, max, min, sum)

tup_obj = (int, float, tuple, list)

print(tup_string)
print(tup_func)
print(tup_obj)

('A', 'B', 'C')
(<built-in function len>, <built-in function max>, <built-in function min>, <built-in function sum>)
(<class 'int'>, <class 'float'>, <class 'tuple'>, <class 'list'>)

# Exercises

## Exercise 1 <br>
<p>Create a list of numbers that are less than ten using l_1 and list comprehension</b></i></p><br>
<p> Your output should [1,5,8,9]</p>

In [18]:
# Use the following list - [1,11,14,5,8,9]
#use some filtering

l_1 = [1,11,14,5,8,9]

l_2_comp = [num for num in l_1 if num < 10]

print(l_2_comp)

#result* = [*transform* *iteration* *filter* ]

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Using list comprehension, create a list of names of 4 letters or more and capitalize each name
<br>

In [32]:
names1 = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 'bob', 'kevin']

list_of_names = []

list_of_names_comp = [name.title() for name in names1 if len(name) >= 4]

print(list_of_names_comp)


# Bonus Challenge
names2 = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

['Connor', 'Connor', 'Connor', 'Evan', 'Evan', 'Kevin']